#game {
    width:100%;
    border:0px dashed green;
    margin-top:1em;
    background: lightgreen;
    float:left;
}

#svgarena {
    display:none;
    float:left;
    position:relative;
    height:100%;
    width:100%;
    overflow:hidden;
    z-index:3;
    left:0;
    top:0;
    border:0px dashed blue;
}

#gameform {
    position:relative;
    padding:1em;
    float:left;
    left:15%;
    width:auto;
    border:0px dashed green;
}

#gameform form input[type="text"] {
    text-transform: lowercase;
}

#rainforest {
    z-index:0;
    border:0px dashed blue;
    height:100%;
    width:100%;
    left:0;
    top:0;
    display:block;
    position:relative;
}

#wordbar {
    display:none;
    position: absolute;
    width:100%;
    z-index:2;
    height:1em;
    left:0px;
    top:0px;
    float:left;
    border-top:2px solid lightgreen;
    background:lightskyblue;
}

#score {
    padding:1px;
    width:10em;
    float:left;
    position:absolute;
    top:2px;
    right:2px;
    border:2px solid lightblue;
    background:white;
    color:green;
    z-index:2;
}

#chooser {
    float:left;
    position:absolute;
    top:35%;
    right:2px;
    color:green;
    z-index:2;
}

#scorevalue {
    text-align:right;
}

#wordbar div {
    width:5em;
    float:left;
    position:absolute;
    top:0;
}

#q1 {
    left:10%;
}

#q2 {
    left:20%;
}

#q3 {
    left:30%;
}

#sky {
    position: absolute;
    width:100%;
    z-index:1;
    height:60%;
    left:0px;
    top:0px;
    float:left;
    border-top:2px solid lightgreen;
    background:powderblue;
}

#ground {
    position: absolute;
    width:100%;
    z-index:2;
    height:40%;
    left:0px;
    top:60%;
    float:left;
    border-top:2px solid lightgreen;
    background:palegreen;
}

#sky .cloudq {
    position:absolute;
    color:black;
    font-size:150%;
    width:10em;
}

#correction_dialog {
    float:left;
    padding:0.5em;
    z-index:5;
    position:fixed;
    left:25%;
    top:25%;
    width: 50%;
    height: 20%;
    background:salmon; /* reminicent of the red in the Italian flag */
    border:lightblue 2px solid;
}

#correction_dialog form {
    width:99%;
}

#correction_dialog h3 {
    width:80%;
    text-align:left;
    background:none
}


#sky .motion {
    -webkit-text-stroke: 1px lightgrey;
    text-shadow:
    -1px -1px 0 lightgrey,
    1px -1px 0 lightgrey,
    -1px 1px 0 lightgrey,
    1px 1px 0 lightgrey;
    position:absolute;
    color:azure;
}

i.x1 {
    font-size:50px;
}

span.x1 {
    font-size:100px;
}

i.x2 {
    font-size:150px;
}

span.x2 {
}

i.x3 {
    font-size:205px;
}

span.x3 {
}


i.x4 {
    font-size:250px;
}

span.x4 {
}

#sky .partly-stormy {
    color: darkgrey;
   -webkit-text-stroke: 1px darkgrey;
   text-shadow:
   -1px -1px 0 darkgrey,  
   1px -1px 0 darkgrey,
   -1px 1px 0 darkgrey,
   1px 1px 0 darkgrey;
}

#sky .stormy {
    color: lightgrey;
   -webkit-text-stroke: 1px darkgrey;
   text-shadow:
   -1px -1px 0 darkgrey,  
   1px -1px 0 darkgrey,
   -1px 1px 0 darkgrey,
   1px 1px 0 darkgrey;
}

#game .fa-tree {
    z-index:3;
    position:absolute;
    color: darkgreen;
}

#status {
    float:right;
    width:auto;
    border:0px solid #ccd;
}

text {
    display:none;
    font-family:sans-serif;
    font-size:20px;
    transform-origin:0,0,0;
    text-anchor:middle;
}    

circle {
    stroke-width:2;
    stroke:darkgrey;
    fill: lightblue;
}

.learning {
    border:2px solid blue;
    width:99%;
    margin-bottom:1em;
    padding-left:0.5%;
    padding-top:0.5em;
    padding-bottom:0.5em;
    float:left;
}

.learning div {
    text-align:center;
    float:left;
    width:auto;
    border:1.5px solid red;
    width:2em;
    margin-left:0.5em;
    padding:0.1%;
}

#gameform {
    position:fixed;
    top:70%;
    font-size:150%;
}

.cloud_answer {
    display:none;
    width:90%;
    font-size:50%;
}

.solved {
    color:lightgrey;
}

span.lca,span.rca {
}

div3#correct_answer {
    position:absolute;
    font-size:125%;
    top:45%; /* we want it smack dab in the center, but the font size is larger, so maybe a bit less than 50% will be perfect.*/
    text-align:center;
    margin-left:10%;
    float:left;
    width:auto;
}


.question {
    font-size:85%;
    font-style:italic;
    color:black;
}

#full_question {
    font-size:100%;
    width:50%;
    float:right;
    text-align:right;
    position:absolute;
    right: 2%;
    bottom:2%;
}

span.full_question {
    display:none;
}

span.answer {
    font-size:100%;
    color:black;
}

span.hidden {
    display:none;
}

span.left_context_of_answer {
}

#answer_button {
    margin:2px; /* keep some small distance between the input element and this button. */
}

#left_context_italian {
    display:none;
}
